<!DOCTYPE html>
<html>
  <head>
    <title>Cinema Site</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <div class="page">
      <header>
        <div class="headerLogo"><a href="/">
        <h1 style="color: white">Cinema</h1>
        <p style="color: white">ON MARS</p></a></div>
        <nav>
          <ul>
            {{#each menu}}
            <li class="menu-item {{#if this.active}}active{{else}}inactive{{/if}}">
              <a href="{{ this.link }}">{{ this.label }}</a>
            </li>
            {{/each}}
          </ul>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>This is a footer</footer>
    </div>
  </body>
</html>
